* {
  box-sizing: border-box;
    
}

body{
    background-color:black;
}
#kjop {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 600px; 
    margin: 23px;
    border: 5px solid darkblue;
    background-image: url(kino4.jpg);
    background-size: 100%;
    
}

h1{
    color: white;
    margin-left: 300px;
    font-family: monospace;
    font-size: 40px;
}
h4{
    color: white;
    font-family: monospace;
    font-size: 60px;
    margin-left: 580px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
    font-size: 30px;
    font-family: monospace;
}

#wave{
    height:500px;
    width: 300px;
}


.film1 {
        width: 70%;
        height: 400px;
        background: url("IMG_2020.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    padding: 0px;
  
    
    }
    .film1:hover {
        background: url("Skjermbilde%202020-05-13%20kl.%2014.59.30.png") no-repeat;
        background-size: 100%;
        transition: .s;
       
	
        
        
    }



.film2 {
        width: 70%;
        height: 400px;
        background: url("IMG_2026.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    margin-left: 50px;
    
    }
    .film2:hover {
        background: url("Skjermbilde%202020-05-23%20kl.%2013.12.18.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }

.film3 {
        width: 70%;
        height: 400px;
        background: url("IMG_2028.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film3:hover {
        background: url("Skjermbilde%202020-05-20%20kl.%2016.38.18.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }

.film4 {
        width: 70%;
        height: 400px;
        background: url("IMG_2069.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film4:hover {
        background: url("Skjermbilde%202020-05-21%20kl.%2018.27.16.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }

.film5 {
        width: 70%;
        height: 400px;
        background: url("IMG_2074.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film5:hover {
        background: url("Skjermbilde%202020-05-23%20kl.%2013.06.46.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }

.film6 {
        width: 70%;
        height: 400px;
        background: url("IMG_2071.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film6:hover {
        background: url("Skjermbilde%202020-05-21%20kl.%2020.33.28.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }

ul li{
    float: left;
    width: 274px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    background-color: black;
    margin-right: 10px;
    font-family: monospace;
    
}

ul li a{
    text-decoration: none;
    color: darkblue;
    display: block;
    border: 2px solid darkblue;
}

ul li a:hover{
    background-color: ghostwhite;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    
}

h3{
    margin-left: 50px;
    font-size: 25px;
}

p{
font-size: 25px;
    font-family: sans-serif;
    text-decoration-line: 
    margin-bottom: 20px;
    
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

button:hover {
	animation: bounce 1s;
    box-shadow: inset 0 0 0 4px darkblue;
}

#trailer {
  background-color: red; 
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}




