* {
  box-sizing: border-box;
    
}

body{
    background-color:black;
}
#kjop {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 600px; 
    margin: 23px;
    border: 5px solid #6B57B7;
    background-image: url(kino3.jpg);
    background-size: 100%;
    
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
    font-size: 30px;
    font-family: monospace;
    color: azure;
}
h1{
    color: azure;
    margin-left: 300px;
    font-family: monospace;
    font-size: 40px;
}

h3{
    
    color: azure;
    font-family: monospace;
    font-size: 60px;
    margin-left: 580px;

}

#wave{
    height:500px;
    width: 300px;
}


.film1 {
        width: 70%;
        height: 400px;
        background: url("IMG_2018.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    padding: 0px;
  
    
    }
    .film1:hover {
        background: url("Skjermbilde%202020-05-21%20kl.%2013.42.54.png") no-repeat;
        background-size: 100%;
        transition: .;
        
        
    }



.film2 {
        width: 70%;
        height: 400px;
        background: url("IMG_2175%202.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    margin-left: 50px;
    
    }
   

.film3 {
        width: 70%;
        height: 400px;
        background: url("IMG_2177.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film3:hover {
        background: url("Skjermbilde%202020-05-23%20kl.%2016.59.00.png") no-repeat;
        background-size: 100%;
    }

.film4 {
        width: 70%;
        height: 400px;
        background: url("IMG_2170%203.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
 
.film5 {
        width: 70%;
        height: 400px;
        background: url("IMG_2169%202.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film5:hover {
        background: url("Skjermbilde%202020-05-23%20kl.%2018.00.44.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }
.film6 {
        width: 70%;
        height: 400px;
        background: url("IMG_2168%202.jpg") no-repeat;
        margin: 50px;
    background-size: 100%;
    
    }
    .film6:hover {
        background: url("Skjermbilde%202020-05-23%20kl.%2018.06.07.png") no-repeat;
        background-size: 100%;
        transition: .s;
    }
ul li{
    float: left;
    width: 274px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    background-color: black;
    margin-right: 10px;
    font-family: monospace;
}

ul li a{
    text-decoration: none;
    color: #6B57B7;
    display: block;
    border: 2px solid #6B57B7;
}

ul li a:hover{
    background-color: ghostwhite;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


p{
font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: azure;
    
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

button:hover {
	animation: bounce 1s;
    box-shadow: inset 0 0 0 4px #6B57B7;
}

#trailer {
  background-color: red; 
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}