body{
    background-color: skyblue;
    font-family: sans-serif;
    background-image: url(up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
    
}



ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

ul li{
    float: left;
    width: 274px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    background-color: black;
    margin-right: 0px;
    font-family: monospace;
}
ul li a{
    text-decoration: none;
    color: darkblue;
    display: block;
    border: 2px solid darkblue;
}

ul li a:hover{
    background-color: ghostwhite;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}

h1{
    font-size: 70px;
}

p{
    font-size: 30px;
    font-family: inherit;
    display: block;
    height: 150px;
    width: 1300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#leder{
    height: 600px;
    width: 500px;
   border-radius: 10px;
}

h3{
    margin-left: 30px;
    font-size: 37px;
}

#leder2{
    height: 600px;
    width: 800px;
    border-radius: 10px;
}


